*{
	font-family: Poiret One;
	margin: 0;
	padding: 0;
}

#name{
	font-size: 80px;
	color: #fff;
	margin: 0;
	padding: 30px 0 0 30px;
}

.banner{
	background: #9591A6;
	height: 250px;
	margin: 0;
}

nav{
	background: #9591A6;
}

nav ul{
	margin-top: 0;	
	padding-bottom: 20px;
	padding-left: 30px;
}

nav ul li{
	display: inline-block;
	margin-right: 40px;
	font-family: sans-serif;
	text-transform: uppercase;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover{
	color: #634F77;
}

.wrap{

}

.mainContent, .sidebar{
	float: left;
}

.mainContent{
	width: 70%;
	height: 1000px;
	border: solid 0px #000;
}

article{
	height: 300px;
	margin-top: 40px;
}

.date{
	float: left;
	height: 70px;
	width: 70px;
	background: #9591A6;
	border-radius: 50%;
	margin: 20px 0 0 20px;
}

.today-date{
	padding-left: 15px;
	padding-top: 30px;
	font-family: sans;
	font-size: 12px;
	color: #fff;
}

.articleTitle{
	padding-top: 30px;
	padding-left: 110px;
}

.sidebar{
	width: 30%;
	height: 1000px;
	background: #F6EEFF;
	border: solid 0px #000;
}

#avatar{
	width: 32%;
	margin: 0 auto;
}

#headshot{
	max-height: 100px;
	max-width: 100px;
	border-radius: 50%;
	margin-top: 15px;
}

.smsLinks ul{
	width: 41%;
	margin: 0 auto;
}

.smsLinks ul li{
	display: inline-block;
	margin-top: 10px;
}

.smsIcon{
	max-width: 40px;
	max-height: 40px;
}









