*{
	font-family: Poiret One;
	margin: 0;
	padding: 0;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap{
	max-width: 1200px;
	margin: 0 auto;
}

#name{
	font-size: 60px;
	color: #fff;
	margin-right: 15px;
	padding: 50px 0 0 25px;
	float: left;
}

header{
	background: #9591A6;
	height: 250px;
	margin: 0;
}

nav{
	background: #9591A6;
}

nav ul{
	margin-top: 0;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

nav ul li{
	display: inline-block;
	margin-right: 5px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.mainContent, .mainContent2 {
	float: right;
	height: 400px;
	background: #fff;
}

.mainContent{
	width: 800px;
}

.mainContent2{
	width: 1200px;
}

.favoriteImages{
	max-height: 400px;
	max-width: 400px;
	margin: 0;
}

.favoriteImages:hover{
	opacity: 0.5;
    filter: alpha(opacity=40);
}

.transbox{
	position: absolute;
	color: rgba(0,0,0,0);
}

.transbox:hover{
	color: #fff;
}

.sidebar{
	width: 400px;
	height: 400px;
	background: #F6EEFF;
	border: solid 0px #000;
	position: absolute;
}

#avatar{
	width: 150px;
	margin: 0 auto;
}

#headshot{
	max-height: 150px;
	max-width: 150px;
	border-radius: 50%;
	margin-top: 50px;
}

#blurb{
	font-size: 14px;
	width: 200px;
	text-align: center;
	margin: 0 auto;
	margin-top: 5px;
}

.smsLinks ul{
	width: 350px;
	padding-left: 130px;	
}

.smsLinks ul li{
	display: inline-block;
	margin-top: 10px;
}

.smsIcon{
	max-width: 40px;
	max-height: 40px;
	opacity: 0.4;
    filter: alpha(opacity=40);
}

.smsIcon:hover{
	opacity: 1.0;
    filter: alpha(opacity=100);
}

/* ==============BIO===============*/

#bio-avatar{
	width: 200px;
	margin: 0 auto;
	margin-top: 50px;
}

#bio-headshot{
	max-width: 400px;
	max-height: 400px;
	border-radius: 50%;
}

.bio-text{
	width: 650px;
	margin: 0 auto;
	margin-top: 30px;
}

.bio-text p{
	text-align: center;
}

.fa-quote-left{
	margin-left: -50px;
	margin-top: -20px;
}

.fa-quote-right{
	margin-right: -70px;
	margin-top: -20px;
}

#blue-container{
	width: 300px;
	margin: 0 auto;
}

#blue{
	max-width: 300px;
	max-height: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}

/*===========CONTACT============*/

.contact-form{
	margin: 50px 0 20px 50px;
}

form p{
	margin-top: 30px;
}

.form {
		margin-top: 30px;
    max-width: 600px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: #888;
    border: 1px solid #E4E4E4;
}

.form label {
    display: block;
    margin: 0px;
}

.form label span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.form input[type="text"], .form input[type="email"], .form textarea {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height: 15px;
}

.form textarea{
    height: 100px;
}

.form .button {
    background: #9591A6;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 2px;
}

.button:hover{
	background: #eee;
	border: 1px solid #9591A6;
	color: #9591A6;
}

.form input, .form textarea, .form .button:focus{
	outline: none;
}









