*{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#name{
	font-size: 50px;
	color: #fff;
	margin: 0;
	padding: 10px 0 0 30px;
}

.banner{
	background: #9591A6;
	height: 250px;
	margin: 0;
}

nav{
	background: #9591A6;
}

nav ul{
	margin-top: 0;	
	padding-bottom: 20px;
	padding-left: 30px;
}

nav ul li{
	display: inline-block;
	margin-right: 40px;
	font-family: sans-serif;
	text-transform: uppercase;
}

nav ul li a{
	text-decoration: none;
	color: #fff;

}

.wrap{

}

.mainContent, .sidebar{
	float: left;
}

.mainContent{
	width: 70%;
	height: 1000px;
	border: solid 0px #000;
}

article{
	height: 300px;
}

.date{
	height: 70px;
	width: 70px;
	background: #9591A6;
	border-radius: 50%;
	margin: 20px 0 0 20px;
}

.today-date{
	padding-left: 20px;
	padding-top: 30px;
	font-family: sans;
	font-size: 12px;
	color: #fff;
}

.sidebar{
	width: 30%;
	height: 1000px;
	background: #F6EEFF;
	border: solid 0px #000;
}